<section class="hero">
  <h1>Welcome To My Portfolio</h1>
  <p>Explore my work and get to know me better.</p>
</section>

<section class="intro-section">
  <div class="intro-container">
    <div class="intro-image fade-in-element" appScrollFadeIn>
      <img src="assets/images/profile-picture.jpeg" alt="Gambar Profil Aqib Ikmal">
    </div>
    <div class="intro-text fade-in-element" appScrollFadeIn>
      <h2>A Little Bit About Me</h2>
      <p>
        I am a software developer focused on building clean, high-performing web and mobile applications. Experienced with Angular, Flutter, WordPress, and Firebase, I turn complex ideas into elegant, production-ready solutions and integrate APIs to deliver seamless user experiences.
      </p>
      <a routerLink="/about" class="btn">Get to Know Me More</a>
    </div>
  </div>
</section>

<section class="featured-projects-section">
  <h2>Latest Projects</h2>
  <div class="projects-preview-grid">
    <a routerLink="/projects" class="project-preview-card fade-in-element" appScrollFadeIn>
      <img src="assets/images/project1.jpeg" alt="Project 1">
      <div class="card-overlay">
        <h3>Mobile Apps</h3>
      </div>
    </a>
    <a routerLink="/projects" class="project-preview-card fade-in-element" appScrollFadeIn>
      <img src="assets/images/project2.png" alt="Project 2">
      <div class="card-overlay">
        <h3>Player And Coaches Contract System</h3>
      </div>
    </a>
    <a routerLink="/projects" class="project-preview-card fade-in-element" appScrollFadeIn>
      <img src="assets/images/project3.png" alt="Project 3">
      <div class="card-overlay">
        <h3>This Portfolio</h3>
      </div>
    </a>
  </div>
</section>